/* highlight code touchups */

div.highlight {
  background: #FAFAFA;
  background: #fff;
  border: 1px dashed #ccc;
  padding: 5px;
  margin: 0;
}

pre {
 padding: 5px;
 margin: 0;
}

span.note {
  font-weight: bold;
}

/* The Main Stuff */

body {
  padding: 10px 10px 90px 170px;
  background: #FBFBFB url('/img/ghetto.png') no-repeat -140px 0;
}

h1 {
  font-family: 'Marcellus SC', 'Lucida Grande', 'Lucida Sans', Ubuntu, Tahoma, serif;
  font-size: 3em;
}

h2 {
  font-weight: normal;
  font-family: 'Marcellus SC', 'Lucida Grande', 'Lucida Sans', Ubuntu, Tahoma, serif;
}

